includes:
    - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon

parameters:
    level: max

    doctrine:
        objectManagerLoader: phpstan-object-manager.php

    paths:
        - src
        - tests

    treatPhpDocTypesAsCertain: false

