includes:
    - vendor/knplabs/doctrine-behaviors/phpstan-extension.neon

parameters:
    level: max

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    doctrine:
        objectManagerLoader: phpstan-object-manager.php

    paths:
        - src
        - tests

    treatPhpDocTypesAsCertain: false

