includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 6

    paths:
        - src

    excludes_analyse:
        - src/Test/DoctrineOrmTestCase.php
