/**
 * SonataTranslation: adds translations to your forms
 */
.sonata-bc .sonata-ba-form .locale_switcher,
.sonata-bc .sonata-ba-show .locale_switcher,
.sonata-bc .box-primary .locale_switcher {
  padding: 1px 0 0 0;
  text-align: right;
  margin-right: 15px;
  margin-bottom: 5px;
  float: right;
}
.sonata-bc .sonata-ba-form .locale_switcher a,
.sonata-bc .sonata-ba-show .locale_switcher a,
.sonata-bc .box-primary .locale_switcher a {
  margin-right: 0;
  padding: 2px;
  opacity: 0.5;
}
.sonata-bc .sonata-ba-form .locale_switcher a.active,
.sonata-bc .sonata-ba-show .locale_switcher a.active,
.sonata-bc .box-primary .locale_switcher a.active {
  opacity: 1;
}
.sonata-bc .sonata-ba-form .locale_switcher a:hover,
.sonata-bc .sonata-ba-show .locale_switcher a:hover,
.sonata-bc .box-primary .locale_switcher a:hover {
  opacity: 1;
}
.sonata-bc .sonata-ba-show .locale_switcher {
  margin-right: 15px;
}
